-
    var sideNavigationList = {
        'Home': {
            title: 'Start learning now!',
            linkList: [
                {label: 'Learn HTML', link: '/html'},
                {label: 'Learn CSS', link: '/css'},
                {label: 'Learn JavaScript', link: '/javascript'},
            ]
        },
        'HTML': {
            title: 'HTML Tutorial',
            linkList: [
                {label: 'HTML Elements', link: '/html/elements'},
                {label: 'HTML Attributes', link: '/html/attributes'},
                {label: 'HTML Headings', link: '/html/headings'},
            ]
        },
        'CSS': {
            title: 'CSS Tutorial',
            linkList: [
                {label: 'CSS Colors', link: '/css/colors'},
                {label: 'CSS Backgrounds', link: '/css/backgrounds'},
                {label: 'CSS Borders', link: '/css/borders'},
            ]
        },
        'JavaScript': {
            title: 'JavaScript Tutorial',
            linkList: [
                {label: 'JavaScript Comments', link: '/javascript/comments'},
                {label: 'JavaScript Variables', link: '/javascript/variables'},
                {label: 'JavaScript Operators', link: '/javascript/operators'},
            ]
        },
    }; 
nav
    //- we check to see if sideNavigationList has a property with the value of landingPage
    //- and if it has we display this value vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
    //- and if it doesn't we display this value                                    vvvvvvvvvvv
    //- it's a quick fix
    h3=sideNavigationList[landingPage] && sideNavigationList[landingPage].title || 'Not found'
    if sideNavigationList[landingPage] && sideNavigationList[landingPage].linkList
        each navigation in sideNavigationList[landingPage].linkList
            if navigation.link == activeLink
                a.current(href=`${baseUrl}${navigation.link}`)=navigation.label
            else
                a(href=`${baseUrl}${navigation.link}`)=navigation.label