extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to Code';
        var myHeading = 'Learn to code CSS Borders for beginners';
        var myDescription = 'CSS Borders provide more decoration for you to utilize!';
        var landingPage = 'CSS';
        var activeLink = '/css/borders';

block awesome-content
    h1=myHeading
    p=myDescription
    h2 CSS Borders
    p The CSS border properties allow you to specify the style, width, and color of an element.

    