extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to Code';
        var myHeading = 'Learn to code HTML for beginners';
        var myDescription = 'HTML is easy and fun to learn!';
        var landingPage = 'HTML';
        var activeLink = '/html';

block awesome-content          
    h1=myHeading
    p=myDescription
       