extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to Code';
        var myHeading = 'Learn to code JavaScript Operators for beginners';
        var myDescription = 'JavaScript Operators are powerful!';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/operators';

block awesome-content
    h1=myHeading
    p=myDescription
    h2 JavaScript Operators
    p With JavaScript operators we can perform arithmetic on numbers, assign values, and much more. 
