extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to Code';
        var myHeading = 'Learn to code HTML, CSS, and JavaScript!';
        var myDescription = 'This is an HTML replica of w3schools';
        var landingPage = 'Home';
        var activeLink = '';

block awesome-content
    h1=myHeading
    p=myDescription
    h2 HTML
    p HTML is the language for building web pages. #[a(href="/html") Check it out!]
    h2 CSS
    p CSS is the language for styling web pages. #[a(href="/css") Take a look!]
    h2 JavaScript
    p JavaScript is the language for programming web pages. #[a(href="/javascript") Learn more!]
