extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to Code';
        var myHeading = 'Learn to code JavaScript for beginners';
        var myDescription = 'JavaScript is ultra-awesome, powerful and mega-fun to learn!';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript';

block awesome-content
    h1=myHeading
    p=myDescription