extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to Code';
        var myHeading = 'Learn to code JavaScript for beginners';
        var myDescription = 'JavaScript is ultra-awesome, powerful and mega-fun to learn!';
        var landingPage = 'JavaScript';
        var activeLink = '';

block awesome-content
    h1=myHeading
    p=myDescription
    h2 JavaScript Comments
    p JavaScript comments can be used to explain JavaScript code, and to make it more readable.
    p JavaScript comments can also be used to prevent execution when testing alternative code.
    h2 JavaScript Variables
    p JavaScript variables are containers for storing data values.
    h2 JavaScript Operators
    p With JavaScript operators we can perform arithmetic on numbers, assign values, and much more. 

