extends ../../_component/layout/template
    
block cool-config
    -
        var myTitle = 'Learn to Code';
        var myHeading = 'Learn to code CSS Backgrounds for beginners';
        var myDescription = 'CSS Backgrounds make everything look more cute!';
        var landingPage = 'CSS';
        var activeLink = '/css/backgrounds';

block awesome-content
    h1=myHeading
    p=myDescription
    h2 CSS Backgrounds
    p The CSS background properties are used to define the background effects for elements.