extends _component/layout/template

block cool-config
    -
        var myTitle = 'Learn to Code';
        var myDescription = 'This is an HTML replica of w3schools';
        var landingPage = '';
        var activeLink = '';

block awesome-content 
    //- let's make a small change, which is to add content to this line
    h1 This is a replica of w3schools.com
    p Learn HTML, CSS, and JavaScript here.            
    h2 HTML
    p HTML is the language for building web pages. #[a(href="/html") Check it out!]
    h2 CSS
    p CSS is the language for styling web pages. #[a(href="/css") Take a look!]
    h2 JavaScript
    p JavaScript is the language for programming web pages. #[a(href="/javascript") Learn more!]
            